__pycache__/
*.py[cod]
*.so

env_logs/
*.yml

env/
.venv/
.conda/

.ipynb_checkpoints

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db

# Ignore API response files
workday_response.json
test_response.json
facets.json

# Ignore test files
test.py
facet_fields.txt